img {
    max-width: 700px;
    height: auto;
    display: block;
    margin-top: 20px;
}

.logo {
    margin-top: 0px;
}

.footnotes::before {
    margin-top: 10rem;
    content: "\A\A__________________";
    white-space: pre;
    /* Use pre to preserve whitespace and line breaks */
    color: #f0f0f0;
}